.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  background: black;
}

.logo, .sign {
  width: 15%;
  text-transform: uppercase;
  color: snow;
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo > p{
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.sign > p{
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.navigate {
  width: 70%;
}

.sign{

}
